.App {
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}
.player-wrapper {
  margin-top: 20px;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 20px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}